
body{
  
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif ;
    
}
.container{
    /* flex: 1 !important; */
    flex-grow: 1 !important; 
   
}

.navbar {
    height: 4rem;
    background-color: white;
}
.navbar-collapse {
    background-color: white;
    z-index: 1050; 
   
}

 .nav-link {
    color: #222222 !important; /* Override Bootstrap default */
}



.fa-regular{
   
    color: rgb(192, 76, 76);
    font-size: 2rem;

}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
  
}

.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    align-items: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 0;
 
}

footer {
    margin-top: auto !important; 
    
} 
  

.card-listing{
    border: none !important; 
    margin-bottom: 2rem;

}
.card-review{
    border: 1px solid darkblue !important;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    /* margin-left: 10px; */
}
.card-body{
    padding: 0 !important;
}
.card-text p{
 font-weight: 400;
}

 .object-link{
    text-decoration: none !important;
    color: #222222;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* show image */

.show-img{
    height: 30vh;
}

.btns{
    display: flex !important;
}

.show-card{
    padding-left: 0;
    padding-bottom: 0;
}

/* map */
#map { 
    height: 400px;
     width: 80vh; }